/* hide highscore and quiz form initially */
#highscores, #quizForm, #quizAlert, #inputGroup{
    display: none
}

/* add underline to clearly describe which button is active*/
.nav-link.active {
    text-decoration: underline;
}

/* center quiz content */
#quiz {
    text-align: center;
}

/* remove bullet list icons from list */
.iconList {
    list-style-type:none;
}

/* make button list text and question title left align */
#quizQuestion, .list-group {     
    text-align: left;
}

/* make timer text right align */
#quizTimer {
    text-align: right;
}
